body {
  background-image: url(/images/cr.jpg?1ef1459f187a7c9da930b2b18c232d2f);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
